body {
  margin:0;
  etter-spacing: -0.02em;
  padding:0;
  font-size:12px;
  overflow:auto
}
footer {
  clear: both;
  font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
  font-size:11px;
}

footer a {
  display: inline-block;
  color: #13daec;
  text-decoration: none;
  line-height: 1.2;
  overflow: hidden;

  vertical-align: top;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;

  -webkit-perspective: 400px;
     -moz-perspective: 400px;
      -ms-perspective: 400px;
          perspective: 400px;

  -webkit-perspective-origin: 50% 50%;
     -moz-perspective-origin: 50% 50%;
      -ms-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}
footer a:hover {
  background: none;
  text-shadow: none;
}
footer a span {
  display: block;
  position: relative;
  padding: 0 2px;

  pointer-events: none;

  -webkit-transition: all 400ms ease;
     -moz-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
          transition: all 400ms ease;

  -webkit-transform-origin: 50% 0%;
     -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
          transform-origin: 50% 0%;

  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
footer a:hover span {
    background: rgba(0,0,0,0.5);

    -webkit-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
        -moz-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
        -ms-transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
            transform: translate3d( 0px, 0px, -45px ) rotateX( 90deg );
}
footer a span:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 2px;
  -webkit-transform-origin: 50% 0%;
     -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: translate3d( 0px, 110%, 0px ) rotateX( -90deg );
     -moz-transform: translate3d( 0px, 110%, 0px ) rotateX( -90deg );
      -ms-transform: translate3d( 0px, 110%, 0px ) rotateX( -90deg );
          transform: translate3d( 0px, 110%, 0px ) rotateX( -90deg );
}
#mainDiv {
  width:100%;
  height:100%
}
#loveHeart {
  float:left;
  width:670px;
  height:625px
}
#garden {
  width:100%;
  height:100%
}
#elapseClock {
  text-align:right;
  font-size:18px;
  margin-top:10px;
  margin-bottom:10px
}
#words {
  font-family:"sans-serif";
  width:500px;
  font-size:24px;
  color:#666
}
#messages {
  display:none
}
#elapseClock .digit {
  font-family:"digit";
  font-size:36px
}
#loveu {
  padding:5px;
  font-size:22px;
  margin-top:80px;
  margin-right:120px;
  text-align:right;
  display:none
}
#loveu .signature {
  margin-top:10px;
  font-size:20px;
  font-style:italic
}
#clickSound {
  display:none
}
#code {
  float:left;
  width:680px;
  height:400px;
  color:#333;
  font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
  font-size:12px
}
#code .string {
  color:#FFA500
}
#code .quote {
  color:#54FF9F
}
#code .custom {
  color:#EE00EE
}
#code .keyword {
  color:#00FFFF;
  font-weight:bold
}
#code .enter {
  color:#00FF00
}
#code .note {
  color:#FF0000
}
#code .placeholder {
  margin-left:30px
}
#code .space {
  margin-left:7px
}
#code .comments {
  color:#FF1493
}
#copyright {
  margin-top:10px;
  text-align:center;
  width:100%;
  color:#666
}
#errorMsg {
  width:100%;
  text-align:center;
  font-size:24px;
  position:absolute;
  top:100px;
  left:0
}
#copyright a {
  color:#666
}
audio {
  float:right;
}
